.tooltip {
    /* triangle dimension */
    --b: 2em; /* base */
    --h: 1em; /* height*/
  
    border-image: fill 0//var(--h)
      conic-gradient(var(--c,#CC333F) 0 0); 
  }
  .bottom {
    clip-path: 
      polygon(0 100%,0 0,100% 0,100% 100%,
        calc(50% + var(--b)/2) 100%,
        50% calc(100% + var(--h)),
        calc(50% - var(--b)/2) 100%);
  }
  
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 30px;
    text-align: center;
    background: #f2f2f2;
  }
  .tooltip {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 1em;
    max-width: 25ch;
  }